.pt-0 {
  padding-top: 0rem;
}
.pt-2 {
  padding-top: 0.125rem;
}
.pt-4 {
  padding-top: 0.25rem;
}
.pt-8 {
  padding-top: 0.5rem;
}
.pt-12 {
  padding-top: 0.75rem;
}
.pt-16 {
  padding-top: 1rem;
}
.pt-20 {
  padding-top: 1.25rem;
}
.pt-24 {
  padding-top: 1.5rem;
}
.pt-28 {
  padding-top: 1.75rem;
}
.pt-32 {
  padding-top: 2rem;
}
.pt-36 {
  padding-top: 2.25rem;
}
.pt-40 {
  padding-top: 2.5rem;
}
.pt-44 {
  padding-top: 2.75rem;
}
.pt-48 {
  padding-top: 3rem;
}
.pt-52 {
  padding-top: 3.25rem;
}
.pt-56 {
  padding-top: 3.5rem;
}
.pt-60 {
  padding-top: 3.75rem;
}
.pt-64 {
  padding-top: 4rem;
}
.pt-68 {
  padding-top: 4.25rem;
}
.pt-72 {
  padding-top: 4.5rem;
}
.pt-76 {
  padding-top: 4.75rem;
}
.pt-80 {
  padding-top: 5rem;
}
.pt-88 {
  padding-top: 5.5rem;
}
.pt-96 {
  padding-top: 6rem;
}
.pt-104 {
  padding-top: 6.5rem;
}
.pt-112 {
  padding-top: 7rem;
}
.pt-12O {
  padding-top: 7.5rem;
}
