.pl-0 {
  padding-left: 0rem;
}
.pl-2 {
  padding-left: 0.125rem;
}
.pl-4 {
  padding-left: 0.25rem;
}
.pl-8 {
  padding-left: 0.5rem;
}
.pl-12 {
  padding-left: 0.75rem;
}
.pl-16 {
  padding-left: 1rem;
}
.pl-20 {
  padding-left: 1.25rem;
}
.pl-24 {
  padding-left: 1.5rem;
}
.pl-28 {
  padding-left: 1.75rem;
}
.pl-32 {
  padding-left: 2rem;
}
.pl-36 {
  padding-left: 2.25rem;
}
.pl-40 {
  padding-left: 2.5rem;
}
.pl-44 {
  padding-left: 2.75rem;
}
.pl-48 {
  padding-left: 3rem;
}
.pl-52 {
  padding-left: 3.25rem;
}
.pl-56 {
  padding-left: 3.5rem;
}
.pl-60 {
  padding-left: 3.75rem;
}
.pl-64 {
  padding-left: 4rem;
}
.pl-68 {
  padding-left: 4.25rem;
}
.pl-72 {
  padding-left: 4.5rem;
}
.pl-76 {
  padding-left: 4.75rem;
}
.pl-80 {
  padding-left: 5rem;
}
.pl-88 {
  padding-left: 5.5rem;
}
.pl-96 {
  padding-left: 6rem;
}
.pl-104 {
  padding-left: 6.5rem;
}
.pl-112 {
  padding-left: 7rem;
}
.pl-12O {
  padding-left: 7.5rem;
}
