.h-0 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 0rem;
}

.h-2 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 0.125rem;
}

.h-4 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 0.25rem;
}

.h-8 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 0.5rem;
}

.h-12 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 0.75rem;
}

.h-16 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 1rem;
}

.h-20 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 1.25rem;
}

.h-24 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 1.5rem;
}

.h-28 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 1.75rem;
}

.h-32 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 2rem;
}

.h-36 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 2.25rem;
}

.h-40 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 2.5rem;
}

.h-44 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 2.75rem;
}

.h-48 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 3rem;
}

.h-52 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 3.25rem;
}

.h-56 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 3.5rem;
}

.h-60 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 3.75rem;
}

.h-64 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 4rem;
}

.h-68 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 4.25rem;
}

.h-72 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 4.5rem;
}

.h-76 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 4.75rem;
}

.h-80 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 5rem;
}

.h-88 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 5.5rem;
}

.h-96 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 6rem;
}

.h-104 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 6.5rem;
}

.h-112 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 7rem;
}

.h-120 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 7.5rem;
}

.h-128 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 8rem;
}

.h-136 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 8.5rem;
}

.h-144 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 9rem;
}

.h-152 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 9.5rem;
}

.h-160 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 10rem;
}

.h-168 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 10.5rem;
}

.h-176 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 11rem;
}

.h-184 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 11.5rem;
}

.h-192 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 12rem;
}

.h-200 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 12.5rem;
}

.h-208 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 13rem;
}

.h-216 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 13.5rem;
}

.h-224 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 14rem;
}

.h-232 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 14.5rem;
}

.h-240 {
  display: flex;
  flex-direction: row;
  grid-column-gap: 15rem;
}
