.pi-0 {
  padding-inline: 0rem;
}

.pi-2 {
  padding-inline: 0.125rem;
}

.pi-4 {
  padding-inline: 0.25rem;
}

.pi-8 {
  padding-inline: 0.5rem;
}

.pi-12 {
  padding-inline: 0.75rem;
}

.pi-16 {
  padding-inline: 1rem;
}

.pi-20 {
  padding-inline: 1.25rem;
}

.pi-24 {
  padding-inline: 1.5rem;
}

.pi-28 {
  padding-inline: 1.75rem;
}

.pi-32 {
  padding-inline: 2rem;
}

.pi-36 {
  padding-inline: 2.25rem;
}

.pi-40 {
  padding-inline: 2.5rem;
}

.pi-44 {
  padding-inline: 2.75rem;
}

.pi-48 {
  padding-inline: 3rem;
}

.pi-52 {
  padding-inline: 3.25rem;
}

.pi-56 {
  padding-inline: 3.5rem;
}

.pi-60 {
  padding-inline: 3.75rem;
}

.pi-64 {
  padding-inline: 4rem;
}

.pi-68 {
  padding-inline: 4.25rem;
}

.pi-72 {
  padding-inline: 4.5rem;
}

.pi-76 {
  padding-inline: 4.75rem;
}

.pi-80 {
  padding-inline: 5rem;
}

.pi-88 {
  padding-inline: 5.5rem;
}

.pi-96 {
  padding-inline: 6rem;
}

.pi-104 {
  padding-inline: 6.5rem;
}

.pi-112 {
  padding-inline: 7rem;
}

.pi-12O {
  padding-inline: 7.5rem;
}
