.pb-0 {
  padding-block: 0rem;
}

.pb-2 {
  padding-block: 0.125rem;
}

.pb-4 {
  padding-block: 0.25rem;
}

.pb-8 {
  padding-block: 0.5rem;
}

.pb-12 {
  padding-block: 0.75rem;
}

.pb-16 {
  padding-block: 1rem;
}

.pb-20 {
  padding-block: 1.25rem;
}

.pb-24 {
  padding-block: 1.5rem;
}

.pb-28 {
  padding-block: 1.75rem;
}

.pb-32 {
  padding-block: 2rem;
}

.pb-36 {
  padding-block: 2.25rem;
}

.pb-40 {
  padding-block: 2.5rem;
}

.pb-44 {
  padding-block: 2.75rem;
}

.pb-48 {
  padding-block: 3rem;
}

.pb-52 {
  padding-block: 3.25rem;
}

.pb-56 {
  padding-block: 3.5rem;
}

.pb-60 {
  padding-block: 3.75rem;
}

.pb-64 {
  padding-block: 4rem;
}

.pb-68 {
  padding-block: 4.25rem;
}

.pb-72 {
  padding-block: 4.5rem;
}

.pb-76 {
  padding-block: 4.75rem;
}

.pb-80 {
  padding-block: 5rem;
}

.pb-88 {
  padding-block: 5.5rem;
}

.pb-96 {
  padding-block: 6rem;
}

.pb-104 {
  padding-block: 6.5rem;
}

.pb-112 {
  padding-block: 7rem;
}

.pb-12O {
  padding-block: 7.5rem;
}
