.pr-0 {
  padding-right: 0rem;
}

.pr-2 {
  padding-right: 0.125rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.pr-16 {
  padding-right: 1rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.pr-28 {
  padding-right: 1.75rem;
}

.pr-32 {
  padding-right: 2rem;
}

.pr-36 {
  padding-right: 2.25rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.pr-44 {
  padding-right: 2.75rem;
}

.pr-48 {
  padding-right: 3rem;
}

.pr-52 {
  padding-right: 3.25rem;
}

.pr-56 {
  padding-right: 3.5rem;
}

.pr-60 {
  padding-right: 3.75rem;
}

.pr-64 {
  padding-right: 4rem;
}

.pr-68 {
  padding-right: 4.25rem;
}

.pr-72 {
  padding-right: 4.5rem;
}

.pr-76 {
  padding-right: 4.75rem;
}

.pr-80 {
  padding-right: 5rem;
}

.pr-88 {
  padding-right: 5.5rem;
}

.pr-96 {
  padding-right: 6rem;
}

.pr-104 {
  padding-right: 6.5rem;
}

.pr-112 {
  padding-right: 7rem;
}

.pr-12O {
  padding-right: 7.5rem;
}
