.v-0 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 0rem;
}
.v-2 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.125rem;
}
.v-4 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.25rem;
}
.v-8 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.5rem;
}
.v-12 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.75rem;
}
.v-16 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
}
.v-20 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1.25rem;
}
.v-24 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1.5rem;
}
.v-28 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1.75rem;
}
.v-32 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 2rem;
}
.v-36 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 2.25rem;
}
.v-40 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 2.5rem;
}
.v-44 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 2.75rem;
}
.v-48 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 3rem;
}
.v-52 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 3.25rem;
}
.v-56 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 3.5rem;
}
.v-60 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 3.75rem;
}
.v-64 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 4rem;
}
.v-68 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 4.25rem;
}
.v-72 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 4.5rem;
}
.v-76 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 4.75rem;
}
.v-80 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5rem;
}
.v-88 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5.5rem;
}
.v-96 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 6rem;
}
.v-104 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 6.5rem;
}
.v-112 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 7rem;
}
.v-120 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 7.5rem;
}
.v-128 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 8rem;
}
.v-136 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 8.5rem;
}
.v-144 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 9rem;
}
.v-152 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 9.5rem;
}
.v-160 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10rem;
}
.v-168 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10.5rem;
}
.v-176 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 11rem;
}
.v-184 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 11.5rem;
}
.v-192 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 12rem;
}
.v-200 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 12.5rem;
}
.v-208 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 13rem;
}
.v-216 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 13.5rem;
}
.v-224 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 14rem;
}
.v-232 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 14.5rem;
}
.v-240 {
  display: flex;
  flex-direction: column;
  grid-row-gap: 15rem;
}
