.g-0 {
  grid-row-gap: 0rem;
  grid-column-gap: 0rem;
}
.g-2 {
  grid-row-gap: 0.125rem;
  grid-column-gap: 0.125rem;
}
.g-4 {
  grid-row-gap: 0.25rem;
  grid-column-gap: 0.25rem;
}
.g-8 {
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
}
.g-12 {
  grid-row-gap: 0.75rem;
  grid-column-gap: 0.75rem;
}
.g-16 {
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}
.g-20 {
  grid-row-gap: 1.25rem;
  grid-column-gap: 1.25rem;
}
.g-24 {
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
}
.g-28 {
  grid-row-gap: 1.75rem;
  grid-column-gap: 1.75rem;
}
.g-32 {
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.g-36 {
  grid-row-gap: 2.25rem;
  grid-column-gap: 2.25rem;
}
.g-40 {
  grid-row-gap: 2.5rem;
  grid-column-gap: 2.5rem;
}
.g-44 {
  grid-row-gap: 2.75rem;
  grid-column-gap: 2.75rem;
}
.g-48 {
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
}
.g-52 {
  grid-row-gap: 3.25rem;
  grid-column-gap: 3.25rem;
}
.g-56 {
  grid-row-gap: 3.5rem;
  grid-column-gap: 3.5rem;
}
.g-60 {
  grid-row-gap: 3.75rem;
  grid-column-gap: 3.75rem;
}
.g-64 {
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
}
.g-68 {
  grid-row-gap: 4.25rem;
  grid-column-gap: 4.25rem;
}
.g-72 {
  grid-row-gap: 4.5rem;
  grid-column-gap: 4.5rem;
}
.g-76 {
  grid-row-gap: 4.75rem;
  grid-column-gap: 4.75rem;
}
.g-80 {
  grid-row-gap: 5rem;
  grid-column-gap: 5rem;
}
.g-88 {
  grid-row-gap: 5.5rem;
  grid-column-gap: 5.5rem;
}
.g-96 {
  grid-row-gap: 6rem;
  grid-column-gap: 6rem;
}
.g-104 {
  grid-row-gap: 6.5rem;
  grid-column-gap: 6.5rem;
}
.g-112 {
  grid-row-gap: 7rem;
  grid-column-gap: 7rem;
}
.g-120 {
  grid-row-gap: 7.5rem;
  grid-column-gap: 7.5rem;
}
.g-128 {
  grid-row-gap: 8rem;
  grid-column-gap: 8rem;
}
.g-136 {
  grid-row-gap: 8.5rem;
  grid-column-gap: 8.5rem;
}
.g-144 {
  grid-row-gap: 9rem;
  grid-column-gap: 9rem;
}
.g-152 {
  grid-row-gap: 9.5rem;
  grid-column-gap: 9.5rem;
}
.g-160 {
  grid-row-gap: 10rem;
  grid-column-gap: 10rem;
}
.g-168 {
  grid-row-gap: 10.5rem;
  grid-column-gap: 10.5rem;
}
.g-176 {
  grid-row-gap: 11rem;
  grid-column-gap: 11rem;
}
.g-184 {
  grid-row-gap: 11.5rem;
  grid-column-gap: 11.5rem;
}
.g-192 {
  grid-row-gap: 12rem;
  grid-column-gap: 12rem;
}
.g-200 {
  grid-row-gap: 12.5rem;
  grid-column-gap: 12.5rem;
}
.g-208 {
  grid-row-gap: 13rem;
  grid-column-gap: 13rem;
}
.g-216 {
  grid-row-gap: 13.5rem;
  grid-column-gap: 13.5rem;
}
.g-224 {
  grid-row-gap: 14rem;
  grid-column-gap: 14rem;
}
.g-232 {
  grid-row-gap: 14.5rem;
  grid-column-gap: 14.5rem;
}
.g-240 {
  grid-row-gap: 15rem;
  grid-column-gap: 15rem;
}
